<style>
  label {font-size:.9em; line-height: 1.2em; width: 100%; margin-bottom: 15px;}
  .form-group {width: 500px; flex-direction: column; margin: 15px 0px;} 
  input {width: 100%; font-size: 1em;}
</style>
<div style="margin: 50px;">
  <h1>{{title}}</h1>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-group">
      <label for="first">First Name</label>
      <input name="first" ngModel required #first="ngModel">
    </div>
    <div class="form-group">
      <label for="Last">Last Name</label>
      <input name="last" ngModel>
    </div>
    <div class="form-group">
      <label for="password">Secret Code</label>
      <input type="password" name="password" ngModel>
    </div>
    <button>Submit</button>
  </form>

  <p>First name value: {{ first.value }}</p>
  <p>First name valid: {{ first.valid }}</p>
  <p>Form value: {{ f.value | json }}</p>
  <p>Form valid: {{ f.valid }}</p>
  <p *ngIf="serverResponse" style="font-weight: 800;">Server Response: {{ serverResponse | json }}</p>

</div>